:host {
  ::ng-deep {
    .search-block {
      width: 300px;
      .mat-mdc-form-field-text-prefix {
        span {
          position: relative;
          top: 5px;
          left: -6px;
        }
      }
    }

    .event-table-block {
      padding: 20px;
      border: 1px solid rgba(94, 94, 94, 0.491);
      border-radius: 12px;
      margin-top: 20px;
    }
    table {
      width: 100%;
    }

    th.mat-sort-header-sorted {
      color: black;
    }
  }
}
