:host {
  ::ng-deep {
    .banner-block {
    }
    .we-are-block {
      padding: 25px 0;

      .welcome-cont {
        .photo-category{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap:20px ;
          @media (max-width:600px) {
            grid-template-columns: repeat(2, 1fr);
          gap:15px ;
          }
          article{
            // width: 32%;
            h2{
              padding: 28px 0 18px;
            }
          }
        }
      }
      p {
        line-height: 26px;
        padding-bottom: 40px;
        @media (max-width:1200px) {
          padding-bottom: 30px;
        }
      }
      
    }
   
    .products-block{
      // margin-top: 80px;
     
    }
    .map-block{
      .row{
        background-color: var(--primary-clr);
        padding: 18px;
        display: flex;
        border-radius: 8px;
        @media (max-width:590px) {
          flex-direction: column;
        }
        .left-block{
          width: 500px;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 4px 0px 8px 3px rgba(0, 0, 0, 0.10);
          padding: 30px 35px;
          @media (max-width:1200px) {
            width: 50%;
          }
          @media (max-width:590px) {
            width: 100%;
            padding: 20px;
          }
          ul{

            li{
              padding-top: 50px;
              @media (max-width:590px) {
                padding-top: 20px;
              }
              &:first-child{
                padding-top: 0;
              }
              a{
                text-decoration: none;
                .icon{
                  width: 70px;
                  height: 70px;
                  background-color: #F7F7F7;
                  margin-right: 15px;
                  flex-shrink: 0;
                  @media (max-width:767px) {
                    width: 50px;
                  height: 50px;
                  }
                }
                span{
                  color: #000000;
                  word-break: break-all;
                  b{
                    padding-bottom: 10px;
                    display: block;
                    @media (max-width:767px) {
                      padding-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        .right-block{
          flex-grow: 1;
          @media (max-width:590px) {
            height: 300px;
          }
        }
      }
    }
  }
}
