<section class="se-container">
    <section class="login-block">
        <div class="d_flex d_flex_column d_ai_center d_jc_center">
            <h2 class="fs_48 fw_600 ">Welcome to VP Photography</h2>
            <h3 class="fs_36 fw_600">Login your account</h3>
        </div>
        <div>
            <form action="">
                <div class="form-group">
                    <input type="text" placeholder="Enter your Phone number">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Enter OTP">
                </div>

                <button class="fs_16 fw_700 text-center form-btn">
                    Submit
                </button>
            </form>
        </div>
    </section>
</section>