<section class="se-container">
    <h2 class="fs_32 fw_500 ff-dancing red-clr text-center">Dear guests, We would like to thank you for celebrating this wonderful day with us</h2>
    <section class="select-photo-list">
        <ul class="d_flex d_flex_column">
            <li class="d_flex d_jc_center d_ai_center fs_16 fw_500" (click)="navigateTo('/user-photos')" >
                Select your photos
                <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.43 18.0703L20.5 12.0003L14.43 5.93031" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.50008 12H20.3301" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </span>
            </li>
            <li class="d_flex d_jc_center d_ai_center fs_16 fw_500" routerLink="/user-photos">
                Signature Album & Videos
                <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.43 18.0703L20.5 12.0003L14.43 5.93031" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.50008 12H20.3301" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </span>
            </li>
            <li class="d_flex d_jc_center d_ai_center fs_16 fw_500" routerLink="/user-photos">
                Event Videos
                <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.43 18.0703L20.5 12.0003L14.43 5.93031" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.50008 12H20.3301" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </span>
            </li>
            <li class="d_flex d_jc_center d_ai_center fs_16 fw_500" routerLink="/user-photos">
                Our Services
                <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.43 18.0703L20.5 12.0003L14.43 5.93031" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.50008 12H20.3301" stroke="#00063A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </span>
            </li>
        </ul>
    </section>
</section>