<section class="se-container">
    <section class="login-block">
        <div class="d_flex d_flex_column d_ai_center d_jc_center">
            <h2 class="fs_48 fw_600 ">Welcome to VP Photography</h2>
            <h3 class="fs_36 fw_600">Login your account</h3>
        </div>
        <div>
            <form action="">
                <div class="form-group" *ngIf="!isOtpSent">
                    <input type="email" name="phoneNumber"[(ngModel)]="email" required placeholder="Enter your Email">
                </div>
                <span *ngIf="checkPhone">Field is required</span>
                <span *ngIf="isMailCheck">{{mailErrorMsg}}</span>
                <div class="form-group" *ngIf="isOtpSent">
                    <input type="number" name="otp" [(ngModel)]="otpEmail" required placeholder="Enter OTP">
                </div>
                <button class="fs_16 fw_700 text-center form-btn" *ngIf="!isOtpSent" (click)="sendOtp()" >
                    Send OTP
                </button>
                <span *ngIf="isOtpSent" (click)="sendOtp()">Resend OTP</span>
                <span *ngIf="isOTPCheck" >{{otpErrorMsg}}</span>
                <button class="fs_16 fw_700 text-center form-btn" *ngIf="isOtpSent" (click)="submitOtp()" >
                    Submit
                </button>
            </form>
        </div>
    </section>
</section>